.search {
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 50px;
  border-color: #c4c1e0;
  border-style: solid;
  background: #ffe9e3;
}
.search:hover {
  background: #fafafa;
  transition: 150ms ease-in-out;
}
.first-btn {
  text-align: right;
  margin-left: 70%;
}
.second-btn {
  text-align: left;
  margin-right: 70%;
}
