.search {
  width: 40%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 50px;
  border-color: #c4c1e0;
  border-style: solid;
  background: #ffe9e3;
}
.search:hover {
  background: #fafafa;
  transition: 150ms ease-in-out;
}

@media only screen and (min-width: 576px) {
  .first-btn {
    text-align: right;
  }
  .second-btn {
    text-align: left;
  }
}

.first-btn {
  margin-bottom: 20px;
}
.second-btn {
  margin-bottom: 20px;
}
